<div class="container">

    <div class="row">
        <div class="col-6">
            <h2 style="margin-top: 20px;">Suppliers</h2>
        </div>
      </div>

<br>

    <div class="row">
      <div class="col-6">
        <button class="button-add"  mat-raised-button color="primary" [routerLink]="['add', 0]" >New Supplier </button>
      </div>
      <div class="col-6">
          <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
          <div class="mat-elevation-z8"></div>
              <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                  <ng-container matColumnDef="number">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </td>
                  </ng-container>

                  <ng-container matColumnDef="identification_Rnc">
                    <th mat-header-cell *matHeaderCellDef> Identification </th>
                    <td mat-cell *matCellDef="let element"> {{element.identification_Rnc}} </td>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>

                  <ng-container matColumnDef="creationDate">
                    <th mat-header-cell *matHeaderCellDef> Creation Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.creationDate | date:'medium'}} </td>
                  </ng-container>

                  <ng-container matColumnDef="accion">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element">
                      <a mat-stroked-button color="primary" [routerLink]="['add', element.id]"> Edit</a>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [length]="50" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
      </div>
    </div>
